
/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 2 version
*/

body {
   margin: 0;
   padding: 0;
   background-color: #F8F8F8;
   font-family: 'Roboto', sans-serif;
 }
 
 * {
   -webkit-box-sizing: border-box;
           box-sizing: border-box;
 }
 
 h1,
 h2,
 h3,
 p {
   margin: 0;
   padding: 0;
 }
 
 
 h3 {
   margin-top: 40px;
   margin-bottom: 25px;
   font-family: Roboto, sans-serif;
   font-style: normal;
   font-weight: 500;
   font-size: 20px;
   line-height: 24px;
   letter-spacing: 0;
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-align: center;
       -ms-flex-align: center;
           align-items: center;
 }
 
 p {
   margin-bottom: 10px;
   font-family: Roboto, sans-serif;
   line-height: 26px;
   margin-top: 0;
   color: #262626;
   font-size: 16px;
 }
 
 .container {
   background-color: #fff;
   max-width: 990px;
   padding: 30px;
   margin: 35px auto 100px;
 }
 
 .section-card__title {
   margin-bottom: 25px;
   font-family: 'Bebas Neue',sans-serif;
   font-style: normal;
   font-weight: 700;
   font-size: 34px;
   line-height: 50px;
   letter-spacing: 2px;
   margin-top: 0;
   text-transform: uppercase;
   font-size: 34px;
 }
 img {
   max-width: 100%;
   height: auto;
   -o-object-fit: cover;
      object-fit: cover;
   vertical-align: middle;
 }
 section {
   margin-bottom: 20px;
 }
 .icon{
   width: 45px;
   height: auto;
   margin-right: 15px;
 }
 
 .main-image {
   margin-bottom: 30px;
 }
 
 .composition-list {
   list-style-type: none; /* Убираем исходные маркеры */
   counter-reset: num; /* Задаём имя счетчика */
   padding-left: 30px;
  }
  .composition-item{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 10px;
  }
  .composition-item::before {
   content: counter(num) '. '; /* Выводим число */
   counter-increment: num; /* Увеличиваем значение счётчика */
   color:#1D79BE;
   font-weight: bold;
   margin-right: 10px;
  }
 .composition-title {
   margin-top: 25px;
   display: block;
 }
 .exclamation{
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   padding: 15px;
   margin-top: 35px;
   margin-bottom: 35px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-top: 1px solid #E9E9E9;
  border-bottom: 1px solid #E9E9E9;
  -webkit-transition: 0.3s;
  transition: 0.3s;
 }
 .exclamation:hover {
   background-color: #F8F8F8;
   -webkit-transition: 0.3s;
   transition: 0.3s;
 }
 .exclamation-point {
  margin-right: 25px;
  max-width: 100%;
  width: 60px;
  height: 80px;
 }
 .exclamation-text {
   margin: 0;
 }
 
 @media (max-width: 411px) {
   .container {
     padding: 15px;
   }
   .section-card__title {
     font-size: 28px;
   }
   .composition-list {
     padding-left: 15px;
   }
   .exclamation-point{
     display: none;
   }
   .exclamation {
     border-left: 1px solid #1D79BE;
   }
 }