/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 2 version
*/

body {
   margin: 0;
   padding: 0;
   background-color: #F8F8F8;
   font-family: 'Roboto', sans-serif;
 }
 
 * {
   -webkit-box-sizing: border-box;
           box-sizing: border-box;
 }
 
 h1,
 h2,
 h3,
 p {
   margin: 0;
   padding: 0;
 }
 
 
 h3 {
   margin-top: 40px;
   margin-bottom: 25px;
   font-family: Roboto, sans-serif;
   font-style: normal;
   font-weight: 500;
   font-size: 20px;
   line-height: 24px;
   letter-spacing: 0;
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-align: center;
       -ms-flex-align: center;
           align-items: center;
 }
 
 p {
   margin-bottom: 10px;
   font-family: Roboto, sans-serif;
   line-height: 26px;
   margin-top: 0;
   color: #262626;
   font-size: 16px;
 }
 
 .container {
   background-color: #fff;
   max-width: 690px;
   padding: 30px 16px;
   margin: 35px auto 100px;
 }
 
 .section-card__title {
   margin-bottom: 25px;
   font-family: 'Bebas Neue', sans-serif;
   font-style: normal;
   font-weight: 700;
   font-size: 28px;
   line-height: 35px;
   letter-spacing: 2px;
   margin: 0 0 30px;
   text-transform: unset;
   color: #262626;
 }
 
 img {
   max-width: 100%;
   height: auto;
   -o-object-fit: cover;
      object-fit: cover;
   vertical-align: middle;
   margin-bottom: 20px;
 }
 
 section {
   margin-bottom: 20px;
 }
 
 .icon {
   width: 40px;
   height: auto;
   margin-right: 15px;
 }
 
.list {
   list-style: none;
   padding: 0;
   -webkit-transition: 0.3s;
   transition: 0.3s;
}
 
 .list li:hover {
   background-color: #F8F8F8;
   -webkit-transition: 0.3s;
   transition: 0.3s;
 }
 .list li {
   border-top: 1px solid #E9E9E9;
   padding: 24px;
   display: flex;
   flex-wrap: wrap;
 }
 .list li:last-child {
   border-bottom: 1px solid #E9E9E9;
 }
 .list__text {
   line-height: 26px;
   margin-left: 15px;
 }
 .list__number{
   font-family: Bebas Neue,sans-serif;
   font-style: normal;
   font-weight: 400;
   font-size: 30px;   
   letter-spacing: 0;
   margin-top: 0;
   color: #1D79BE;
   margin-right: 3%;
   padding-right: 0;
   min-width: 7%;
   display: flex;
   align-items: center;
   flex-wrap: nowrap;
   margin-bottom: 15px;
   position: relative;
 }
 .list__number::before {
   content: '';
   display: block;
   position: absolute;
   width: 100%;
   height: 1px;
   background-color: #1D79BE;
   bottom: -5px;
 }
 .icon{
   width: 30px;
   height: auto;
   margin: 0;
   margin-right: 15px;
 }
  
 @media (max-width: 411px) {
 
   .list__text {
     border: none;
     margin-left: 0;
     padding: 0;
   }
 
   .list {
     padding-left: 0;
   }
 
   .container {
     padding: 15px;
   }
  
   .section-card__title {
     font-size: 28px;
   }
 
 }