/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 2 version
*/

body {
   margin: 0;
   padding: 0;
   background-color: #F8F8F8;
   font-family: 'Roboto', sans-serif;
 }
 
 * {
   -webkit-box-sizing: border-box;
           box-sizing: border-box;
 }
 
 h1,
 h2,
 h3,
 p {
   margin: 0;
   padding: 0;
 }
 
 
 h3 {
   margin-top: 30px;
   margin-bottom: 10px;
   font-family: Roboto, sans-serif;
   font-style: normal;
   font-weight: 500;
   font-size: 20px;
   line-height: 24px;
   letter-spacing: 0;
 }
 
 p {
   margin-bottom: 10px;
   font-family: Roboto, sans-serif;
   line-height: 26px;
   margin-top: 0;
   color: #262626;
   font-size: 16px;
 }
 
 .container {
   background-color: #fff;
   max-width: 990px;
   padding: 30px;
   margin: 35px auto 100px;
 }
 
 .section-card__title {
   margin-bottom: 25px;
   font-family: 'Bebas Neue',sans-serif;
   font-style: normal;
   font-weight: 700;
   font-size: 34px;
   line-height: 50px;
   letter-spacing: 2px;
   margin-top: 0;
   text-transform: uppercase;
   font-size: 34px;
 }
 img {
   max-width: 100%;
   height: auto;
   -o-object-fit: cover;
      object-fit: cover;
   vertical-align: middle;
 }
 .main-image {
   margin-bottom: 30px;
 }
 .icon{
   width: 45px;
   height:45px;
   margin-right: 10px;
 }
 .section-card__text {
   padding: 15px;
   border-left: 2px solid #1D79BE;
   margin-left: 60px;
   margin-bottom: 40px;
   -webkit-transition: 0.3s;
   transition: 0.3s;
 }
 .section-card__text:hover {
   background-color: #F8F8F8;
   -webkit-transition: 0.3s;
   transition: 0.3s;
 }
 .section-card__span{
   display: block;
 }
 .process-title {
   margin-top: 60px;
   margin-bottom: 20px;
 }
 b {
   display: inline-block;
   margin-top: 20px;
 }
 ul {
   list-style: none;
   line-height: 26px;
 }
 .mark-list {
   list-style-type: none; /* Убираем исходные маркеры */
   counter-reset: num; /* Задаём имя счетчика */
  }
  .mark-list li::before {
   content: counter(num) '. '; /* Выводим число */
   counter-increment: num; /* Увеличиваем значение счётчика */
   color:#1D79BE;
   font-weight: bold;
   margin-right: 10px;
  }
  .mark-list li {
    margin-bottom: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
 
 
 @media (max-width: 411px) {
 
   .section-card__title {
     font-size: 28px;
   }
   h3 {
     display: -webkit-box;
     display: -ms-flexbox;
     display: flex;
   }
   .section-card__text {
     margin-left: 0;
     padding-top: 0;
     border-left: none;
     border-bottom: 2px solid #1D79BE;
   }
   .mark-list {
     padding-left: 15px;
   }
 }